/* General and atomic styling */
:root {
  --font-fancy: 'Barrio', cursive;
  --font-regular: 'Quattrocento Sans', sans-serif;
}

body, html {
    height: 100%;
    font-family: var(--font-regular);
}

p {
  font-size: 1.8em;
  margin: 0 0 14px;
}

.btn-black {
  background-color: #B14138;
  color: #fff;
}

.btn-black:hover {
  color: #fff;
  background-color: #111;
}

.main-text h1, .main-text h2 {
  font-weight: 800;
}

.table>tbody>tr>td, .table>tbody>tr>th {
  padding: 0px;
  font-size: 1.8em;
  border-top: none;
}

.spacer {
  height: 18px !important;
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  font-size: 1.5em;
  line-height: 3;
}

.navbar-default {
  background-color: #B14138;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand { 
  font-family: var(--font-fancy);
  font-size: 2.2em;
}

.navbar-brand, .navbar-default .navbar-nav > li > a {
  line-height: 34px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: black;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: black;
  color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-toggle, .navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #B14138;
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
  background-color: black;
}

@media screen and (max-width: 736px) {
  .navbar-default .navbar-brand {
    font-size: 1.4em;
    line-height: 22px;
  }
}

/* Splash */
.container-fluid.splash-bg {
  background: url("../assets/bg_red.jpg") no-repeat center center;
  height: 100%; 
  background-size: cover;
}

.splash-text h1 {
  font-family: var(--font-fancy);
  font-size: 86px;
}

.splash-text {
  color: #fff;
  border: 0;
  background:rgba(28, 24, 21, 0.6);
  margin-top: 8em;
  height: 400px;
}

@media screen and (max-width: 736px) {
  .splash-text h1 {
    font-size: 3.5em;
  }
  .splash-text {
    height: 300px;
  }
}

/* About */
.container-fluid.main-bg {
  background: url("../assets/bg_red_faded.jpg") no-repeat center center fixed;
  height: 230%;
  background-size: cover;
}

.main-text {
  margin-top: 3em;
  border-radius: 4px;
  background: #fff;
  padding: 6px 22px 6px 22px;
}

@media screen and (max-width: 736px) {
  .container-fluid.main-bg {
    height: 500%;
  }
  p, .table>tbody>tr>td, .table>tbody>tr>th {
    font-size: 1.2em;
  }
  .main-text h1, .main-text h2 {
    font-size: 1.5em;
  }

}
