<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} -
      {% endif %}
      {{site.name}}
    </title>

    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='{{ site.description }}' name='description'>
    <meta content='{{ site.name }}' name='author'>

    <link href='/favicon.ico' rel='shortcut icon'>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barrio|Quattrocento+Sans" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{site.url}}/css/jquery-ui.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.url}}/css/custom.css"/>

    <!-- JavaScript -->
    <script type="text/javascript" src="{{site.url}}/js/lib/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/js/lib/popper.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/js/custom.js"></script>

  </head>
  <body>

  {{content}}

  </body>
</html>